<ion-app>
  <ion-router-outlet>


    <ion-tabs>

      <ion-tab-bar slot="bottom">
        <ion-item routerLink="/home" >

          <ion-tab-button >
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-tab-button>
        </ion-item>

        <ion-item routerLink="/mapa">

          <ion-tab-button >

            <ion-icon name="map"></ion-icon>
            <ion-label>Viajar</ion-label>
            <ion-badge>2</ion-badge>

          </ion-tab-button>

        </ion-item>


        <ion-item routerLink="/misviajes">

          <ion-tab-button >
            <ion-icon name="information-circle"></ion-icon>
            <ion-label>Tus viajes</ion-label>
          </ion-tab-button>

        </ion-item>
        <ion-item routerLink="/miperfil">
        <ion-tab-button>
          <ion-icon name="person-circle"></ion-icon>
          <ion-label>Mi perfil</ion-label>
        </ion-tab-button>
 </ion-item>
      </ion-tab-bar>       

    </ion-tabs>




  </ion-router-outlet>
</ion-app>