<ion-header>
  <ion-toolbar color="Light">
    <ion-title>
      Menú principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-text color="primary" class="ion-text-center">
    <h1 class="ion-text-center">Bienvenido {{nombre}} a TeLlevoAPP</h1>
    <h3>¿Que vamos a hacer?</h3>

    <ion-card color="warning">
      
      <ion-card-header>
        <ion-card-title>Empezar a manejar</ion-card-title>
      </ion-card-header>

      <ion-card-content class="ion-padding-top">
        Tienes auto y te gustaria ganar dinero extra transportando a otros estudiantes?
        <ion-button href="manejar2" >
          Pulsa aqui 
        </ion-button>    
            <ion-img size="big" src="/assets/volante.jpg"></ion-img>

      </ion-card-content>
    </ion-card>
    <ion-card color="danger">
      
      <ion-card-header>
        <ion-card-title>Emprender un viaje</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        ¿Necesitas transporte a bajo costo? ¡De estudiantes para estudiantes!
        </ion-card-content>
        <ion-button href="mapa">
          Pulsa aqui 
        </ion-button>    
        <ion-img size="small" src="/assets/taxi.jpg"></ion-img>


    </ion-card>


    

  </ion-text>

 
  
</ion-content>
